<!-- begin page-header -->
<h1 class="page-header" style="margin-bottom: 5px;"  i18n="Menu Configuration header|Menu Configuration@menuConfiguration">Menu Configuration</h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row">
  <!-- begin col-6 -->
  <div class="col-lg-12">
      <app-menu-master-view></app-menu-master-view>
    <!-- <ngb-tabset type="pills">
      <ngb-tab>
        <ng-template ngbTabTitle class="hidden">
          <span class="d-sm-none">Menu</span>
          <span class="d-sm-block d-none">Menu</span>
        </ng-template>
        <ng-template ngbTabContent>
          <div id="menuList">
            <app-menu-master-view>
            </app-menu-master-view>
          </div>
        </ng-template>
      </ngb-tab>
    </ngb-tabset> -->
    <!-- end nav-tabs -->
  </div>
  <!-- end col-6 -->
</div>
<!-- end row -->