<!-- Click to notification group media preview starts here -->

<div class="row margin_0px rowBox">
    <div class="col-md-12 padding_0px">
      <div class="padding_Form">
        <div class="formReadMode">
          <div class="form-group-custom1">
            <legend i18n="Notification Group Information|Notification Group Information@@notificationGroupInformation" class="m-b-15">Notification Group Information</legend>
            <!-- Injecting read view -->
            <app-notification-group-media-read-view (navigateTemplate)="backButton($event)"></app-notification-group-media-read-view>
          </div>
          <div class="path finalLine"></div>
          <div class="row" style="text-align: right;padding: 23px 0;">
            <div class="col-md-12">
              <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton($event)" i18n="Back button|Back@@back"> Back
              </button>
              &nbsp;
              <button i18n="Save button|Save@@save" class="btn btn-primary text-center saveActionButton" type="submit" (click)="createNotificationGroupMedia()">
                Save
              </button>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <!-- Loader image -->
  <div *ngIf="showLoaderImage" class="col-lg-12" style="margin-left:0%; margin-top:0%;margin-bottom:0%;" align="center">
    <img src="/assets/img/dashboard/ProgressLoader.gif" height="auto" width="50%" alt="Loading........">
  </div>
  <!-- Global modal notification component selector for cancel and final save form-->
  <app-modal-notification (modelNotificationSuccess)="redirectTo()"></app-modal-notification>