<div class="row">
  <div class="col-md-12">
    <h1 i18n="Page header|Access Group@@addaceesgroup" class="page-header">
      {{addEditText}} Access Group
    </h1>
  </div>
</div>


<!-- access Group Form starts here -->
<div class="row margin_0px rowBox">
  <div class="col-md-12 padding_0px">
    <!-- <div class="padding_Form"> -->
    <form [formGroup]="accessGroupForm" novalidate (ngSubmit)="previewAccessGroup()">
      <div class="padding_Form">
        <legend i18n="Header|Access Group Information@@accessGroupInformation" class="m-b-15">Access Group
          Information
        </legend>
      </div>
      <div class="formBodyCustom1" id="">
        <div class="form-group form-group-custom1">
          <div class="padding_Form">
            <div class="m-form__group row">
              <div class="col-lg-6">
                <label i18n="Name|Name@@name*" class="">Name<span class="text-danger">*</span></label>
                <div class="form-group">
                  <div [ngClass]="{'has-error': ((accessGroupForm.get('name').touched || accessGroupForm.get('name').dirty) &&
                            accessGroupForm.get('name').errors)}">
                    <input (keyup)="onKey($event)" type="text" formControlName="name" class="form-control m-input"
                      i18n-placeholder="Placeholder|Enter Name@@name.placeholder" placeholder="Enter Name">
                    <span class="help-block" *ngIf="((accessGroupForm.get('name').touched ||
                              accessGroupForm.get('name').dirty) &&
                              accessGroupForm.get('name').errors)">
                      <span i18n="Message|Please enter Name@@name.message"
                        *ngIf="accessGroupForm.get('name').errors.required">
                        Please enter Name
                      </span>
                      <span i18n="Message|Please enter valid Characters@@name.message1"
                        *ngIf="accessGroupForm.get('name').errors.pattern">
                        Please enter valid Characters
                      </span>
                    </span>
                  </div>
                  <span class="errorMsg"></span>
                </div>
                <label i18n="Status|Status@@status">Status</label>
                <div class="form-group">
                  <mat-radio-group formControlName="status">
                    <mat-radio-button value="Active" i18n="Radio button|Active@@active" style="margin-right: 20px;">
                      Active
                    </mat-radio-button>
                    <mat-radio-button value="In_Active" i18n="Radio button|InActive@@inActive">In-Active
                    </mat-radio-button>
                  </mat-radio-group>
                </div>

              </div>
              <div class="col-lg-6">
                <label i18n="Description|Description@@description" class="">Description</label>
                <div>
                  <textarea style="height: 125px!important;" rows="4" type="text" formControlName="description"
                    class="form-control m-input"
                    i18n-placeholder="Description placeholder|Enter Description@@description.placeholder"
                    placeholder="Enter Description"></textarea>
                </div>
                <span class="errorMsg"></span>
              </div>
            </div>
          </div>

          <div class="panel panel-inverse mt-3" style="position: relative">
            <app-panel-user i18n-name="Header|Access Group User(s)@@accessGroupusers" name=" Access Group User(s)">

              <div class="row margin_0px rowBox">
                <div class="col-md-12 padding_0px margin_top_5px">
                  <div class="padding_Form">
                    <div class="form-group-custom1">
                      <div class="row form-group">
                        <div class="col-md-12 col-lg-12">
                          <dual-list class="dualBoxList" [sort]="keepSorted" [source]="source" [key]="key"
                            [display]="display" [filter]="filter" [(destination)]="confirmed" height="265px"
                            [format]="format" [disabled]="disabled"
                            (destinationChange)="getUserMovedByAccessGroup($event)">
                          </dual-list>
                          <div class="tab-content">
                          </div>
                        </div>
                      </div>
                      <div class="path finalLine"></div>
                      <div class="row" style="text-align: right;padding: 23px 0;">
                        <div class="col-md-12">
                          <button type="button" class="btn btn-default text-center cancelActionButton"
                            i18n="Cancel button|Cancel@@cancel" (click)="cancelAccessGroupForm()">
                            Cancel
                          </button>
                          &nbsp;
                          <button type="button" class="btn btn-secondary text-center resetActionButton"
                            [disabled]="(!accessGroupForm.dirty && accessGroupForm.pristine) && !enableReset"
                            (click)="resetAccessGroupForm()" i18n="Reset button|Reset@@reset"> Reset
                          </button>
                          &nbsp;
                          <span i18n-matTooltip="Tooltip validation|Fill the mandatory fields@@fillTheMandatoryFields"
                            matTooltip="Fill the mandatory fields" [matTooltipDisabled]="accessGroupForm.valid">
                            <a>
                              <button class="btn btn-primary text-center reviewAndSaveActionButton" type="submit"
                                [disabled]="!(accessGroupForm.valid && userMovedByAccessGroup)"
                                i18n="Review&Save button|Review&Save@@review&Save">
                                Review & Save</button>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </app-panel-user>
          </div>

          <!--  <div class="m-form__group row">
                            <div class="col-md-12 col-lg-12">
                                <legend i18n="Header|Access Group User(s)@@accessGroupusers" class="m-b-15">Access Group User(s)
                                </legend>
                                <dual-list class="dualBoxList" [sort]="keepSorted" [source]="source" [key]="key"
                                    [display]="display" [filter]="filter" [(destination)]="confirmed" height="265px"
                                    [format]="format" [disabled]="disabled" (destinationChange)="getUserMovedByAccessGroup($event)">
                                </dual-list>
                                <div class="tab-content">
                                </div>
                            </div>
                        </div> -->
        </div>


      </div>
    </form>
    <!-- </div> -->
  </div>
</div>
<!-- Access Group Form ends here -->


<!-- Global modal notification component selector for cancel and final save form-->
<app-modal-notification (modelNotificationSuccess)="redirectTo()" (modelNotificationWarning)="alertRedirection()">
</app-modal-notification>
