<div class="row">
  <div class="col-md-12">
    <h1 i18n="Web Service Consumer header|Add Web Service Consumer View@@addWebServiceConsumerView" class="page-header">
      Add Web Service Consumer - View
    </h1>
  </div>
</div>
<div class="row margin_0px">
    <div class="col-md-12 padding_0px rowBox">
      <div class="padding_Form">
        <!-- form read mode view starts here  -->
        <div  class="formReadMode">
            <div class="form-group-custom1">
              <legend i18n="Consumer Application Details header|Consumer Application Details@@consumerApplicationDetails" class="m-b-15">Consumer Application Details</legend>
              <div class="form-row">
                <div class="form-group col-sm-6 col-md-4">
                  <div>
                    <label i18n="Name|Name@@name" class="">Name</label>
                    <p>
                      {{serviceConsumerApp.name?serviceConsumerApp.name:'-'}}
                    </p>
                  </div>
                  <div>
                    <label i18n="Key|Key@@key" class="">Key</label>
                    <p>
                      {{serviceConsumerApp.key?serviceConsumerApp.key:'-'}}
                    </p>
                  </div>
                </div>
                <div class="form-group col-sm-6 col-md-4">
                  <label i18n="Description|Description@@description" class="">Description</label>
                  <p>
                    {{serviceConsumerApp.description?serviceConsumerApp.description:'-'}}
                  </p>
                </div>
          
                <div class="form-group col-sm-6 col-md-4">
                  <label i18n="Status|Status@@status" class="">Status</label>              
                    <p>
                      {{serviceConsumerApp.status?serviceConsumerApp.status:'-'}}
                    </p>              
                </div>
              </div>
            </div>
            <div class="path finalLine"></div>
            <div class="row" style="    text-align: right;padding: 23px 0;">
              <div class="col-md-12">
                <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton()" i18n="Back button|Back@@back"> Back
                </button>
              </div>
            </div>
          </div>
      </div>
      <!-- read mode view ends here  -->
    </div>
  </div>