<!-- Click to notification group view  starts here -->
<div class="row margin_0px rowBox">
    <div class="col-md-12 padding_0px">
      <div class="padding_Form">
        <div class="formReadMode">
          <div class="form-group-custom1">
            <legend i18n="Notification Group Information header|Notification Group Information@@notificationGroupInformation" class="m-b-15">Notification Group Information</legend>
            <!-- Injecting read view -->
            <app-notification-group-read-view></app-notification-group-read-view>
          </div>
          <div class="row" style="    text-align: right;padding: 23px 0;">
            <div class="col-md-12">
              <button type="button" class="btn btn-default text-center backActionButton" (click)="backButton()" i18n="Back button|Back@@back"> Back
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Click to notification Group view ends here -->